/**************动画特效********************/

/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
}
.fade-enter, .fade-leave-to {
    opacity: 0
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    /* //visibility: visible; */
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  from {

    transform: translate3d(0, -100%, 0);
  }

  to {

    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    display: none;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideOutUp {
  from {
  	display: block;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    display: none;
  }
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.slide-right-enter-active {
	animation: slideInRight .5s;
}

.slide-left-enter-active {
	animation: slideInLeft .5s;
}

.slide-up-enter-active {
	animation: slideInUp .5s;
}

.slide-up-leave-active {
	opacity: 0;
}