//全局css变量
//主要颜色
$main-active-color: #d82228;
//菜单圆角
$menu-border-radius: 8px;
//元素高度
$form-line-height: 30px;
//输入框的内边距
$input-padding: 0 6px;

//文字大小
$font-size-meduim: 14px;
$font-size-small: 13px;
$font-size-large: 15px;

//颜色
$danger-color: #f56c6c;
$success-color: #67c23a;
$warning-color: #e6a23c;
$error-color: #f00;
$info-color: #333;
$light-color: #999;

//元素宽度  select input
$elem-width: 300px;